# Avoid accidental Sketch file upload 
###############################################
## Please do not remove line 5 - thanks! 🙂 ##
###############################################
*.sketch

# Avoid accidental XD or Figma upload if you convert the design file
#######################################################
## Please do not remove lines 11 and 12 - thanks! 🙂 ##
#######################################################
*.xd
*.fig

# Avoid your project being littered with annoying .DS_Store files!
.DS_Store

README-TEMPLATE.MD
STYLE-GUIDE.MD

git remote add origin https://github.com/Said-Meza/REST-Countries-API-with-color-theme.git
git branch -M main
git push -u origin main