@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap');

:root{
    --Dark--Blue-Dark-Mode-Elements: hsl(209, 23%, 22%);
    --Very--Dark-Blue-Dark-Mode-Background: hsl(207, 26%, 17%);
    --Very--Dark-Blue-Light-Mode-Text: hsl(200, 15%, 8%);
    --Dark--Gray-Light-Mode-Input: hsl(0, 0%, 52%);
    --Very--Light-Gray-Light-Mode-Background: hsl(0, 100%, 98%);
    --White--Dark-Mode-Text-and-Light-Mode-Elements: hsl(0, 0%, 100%);
    --font-family:'Nunito Sans', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font-family);
    background-color:var(--Very--Light-Gray-Light-Mode-Background);
}
/*nav style*/
.nav{
    background-color: var(--White--Dark-Mode-Text-and-Light-Mode-Elements);
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    box-shadow: 0px 0px 6px  rgba(0, 0, 0, .1) ;

}
.nav__title{
    font-weight: 800;
}
.nav__darkmode{
    background-color: var(--Very--Light-Gray-Light-Mode-Background);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .8rem;
    border: none;
}
.nav__icon{
    width: 20px;
}
.nav__img{
    display: block;
    width: 100%;
}
.nav__darktext{
    font-weight: 300;
}



/*main botton*/
.botton{
    /* outline: auto; */
    display: block;
    width: 5rem;
    margin: 2rem;
    padding: .3rem ;
    text-align: center;
    font-size: .8rem;
    text-decoration: none;
    box-shadow: 0px 0px 6px  rgba(0, 0, 0, .1) ;
    border-radius: 5px;
    background-color:var(--White--Dark-Mode-Text-and-Light-Mode-Elements) ;
    
}

.content_container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.container{
    width: 90%;
    margin: 2rem auto;

}
.content__figure{
    margin: 0 auto;
}
.card__img{
    width: 100%;
    display: block;

}
.card__texts{
    
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

}
.content{
    display: flex;
    flex-direction: column;
    gap: .7rem;
}
.other__container{
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}
.botton--modifi{
    
    margin: unset;
}


